/*beginning of nav header*/
body {
	font-family: 'Andika', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: white;
  /* #e2e2e2 */
}


nav ul ul {
	display: none;
}

  nav ul li:hover > ul {
  			display: block;
}

nav ul {
	background: #103C15;
	padding: 0 0px;
	list-style: none;
	white-space: nowrap;
	position: fixed;
	margin: auto;
  z-index: 3;
}

	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
}

nav ul li {
	float: left;
}

	nav ul li:hover {
		background: #547057;
}
      nav ul li:hover a {
      	color: #fff;
      }

    nav ul li a {
    	display: block;
    	padding: 25px 40px;
    	color: white;
    	text-decoration: none;
    }
    }

nav ul ul {
	background: #547057;
	position: absolute;
	top: 100%;
}

    nav ul ul li {
    	float: none;
    	position: relative;
    }

       nav ul ul li a {
       	padding: 25px 40px;
       	color: #fff; 
       }

          nav ul ul li a:hover {
          	   background: #547057;
          }

             nav ul ul ul {
             	position: absolute;
             	left: 100%;
             	top: 0;
          }
#subheader {
	background: #103C15;
    z-index: 2;
    height: 76px;
    position: fixed;
    width:100%;
}  

/*end of nav header*/



.content {
  width: auto;
  height: auto;
  background: #EBE7DA;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
  clear: both;
  z-index: 0;
  display: inline;
  clear: both;
  padding: 10px;
  border: 1px solid #103C15;
  border-radius: 10px;
}

  #right{
    float: right;
    position: absolute;
    margin-top: 140px;
    margin-left: 40%;
    width: 660px;
    height: auto
  }

  #image_left {
    /*margin: 100px 35% 50px 35%;*/
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 40px;
    position: absolute;
    float: left;
    display: inline;
    border: 1px solid #103C15;
    border-radius: 10px;
  }

  