#stats {
	margin: 0 auto;
	width: 50%;
	margin-bottom: 2em;
}

#play {
	height: 3em;
	width: 80%;
	font-size: .5em;
	background-color: black;
	border-radius: .2em;
	color: white;
	text-decoration: none;
	outline: none;
}

#answer_box {
	height: 2em;
	font-size: .5em;
}

#stats tr td{
	text-align: center;
	font-size: 2em;
	width: 33%;
}
#game_table {
	margin: 0 auto;
	width: 50%;
}

.table_title {
	text-align: center;
	font-size: 2em;
}

#game_table tr td {
	border: 1px solid black;
	
}

.hidden {
	display: none;
}

.visible {
	display: visible;
}

.correct {
	color: 'green';
}

.incorrect {
	background-color: 'red';
}
.answers {

}