/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
  background: url(../images/DSCF1825.JPG) 50% 0 no-repeat fixed;  
  background-size: 100% auto;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}