<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/site.css' />
</head >
<body id="image_background">
	<nav>
		<ul>
			<li class="logo"><a href="/"><img id="personal_logo"src="../images/transparent2.png" /></a></li>
			<li class="nav"><a href="/about">About</a><li>
			<li class="nav"><a href="/resume">Resum&eacute;</a></li>
			<li class="nav"><a href="/projects">Projects</a></li>
		</ul>
	</nav>
	<div id="true_body" >
	<section>

	{{ content }}
	</div>
	</section>  
</body>
</html>