<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/employer.css" />
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Average+Sans|Karla|Montserrat' rel='stylesheet' type='text/css'>
</head >
<body id="image_background">
	<nav>
		<ul>
			<li class="logo"><a href="/"><img id="personal_logo"src="../images/transparent2.png" /></a></li>
			<li class="nav"><a href="/About">About</a><li>
			<li class="nav"><a href="/resume">Resum&eacute;</a></li>
			<li class="nav"><a href="/projects">Projects</a></li>
		</ul>
	</nav>
	<div id="true_body" >
	{{ content }}
	</div>
</body>
</html>